

/********** Body **********/

body {
  margin: 0;
  padding: 0;
  background: #cccccc url(../img/body-bg.png) repeat-y;
  background-size: 16.7% 25%;
  outline: none;
  font-family: 'HelvNeue55', Arial, Helvetica, sans-serif;
  color: #000000;
  width: 100%;
  height: 100%;

}

@media (max-width: 767px) {

body {
  background: #cccccc;
}

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'HelvNeue75', Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
a:hover {
	text-decoration: none;
	outline:none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
a:focus {
	text-decoration: none;
	outline: none;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clear {
	clear: both;
}


/********** Bootstrap Edit **********/

.container {
	width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

/**
@media (min-width: 480px) and (max-width: 979px) {
    
    .col-md-2 {
        width: 30%;
        display: inline-block;
        float: left;
    }
    
    .col-md-10 {
        width: 69%;
        display: inline-block;
    }
}
**/

/********** Header **********/

#header {
	height: 40px;
	width: 100%;
	margin: 0;
	padding: 0 3% 0 0;
	background: #666666;
	text-align: right;
}

#header p {
	color: #ffffff;
	font-size: 90%;
	line-height: 40px;
	font-family: 'HelvNeue75', Arial, Helvetica, sans-serif;
}

#header p a {
	color: #ffffff;
}

#header p a:hover {
	color: #ff6600;
}

#header p span {
	margin: 0 10px;
}


/********** Main Menu **********/

#main-menu {
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding: 0;
	background: #666666;
	display: inline-block;
}

#main-menu img.logo-img {
	width: 50%;
	height: auto;
	margin: 40px 25%;
	padding: 0;	
}

#main-nav {
	width:90%;
	padding:0;
	margin:0;
	float:right;
	position:relative;
	right:0;
}

#main-nav li {
	padding-bottom: 5px;
	text-align: right;
	font-family: 'HelvNeue75', Arial, Helvetica, sans-serif;
}

#main-nav li a.nav-top-item {
	background:#444444;
	padding: 7px 15px;
	color:#fff;
	font-size: 80%;
	font-family: 'HelvNeue75', Arial, Helvetica, sans-serif;
	cursor: pointer;
	display: block;
	text-decoration: none;
	border-radius:4px 0 0 4px;
}

#main-nav li a.current {
	background: #ff6600;
	color: #ffffff;
	font-family: 'HelvNeue75', Arial, Helvetica, sans-serif;
	text-decoration: none;
}
                
#main-nav li a.current:hover {
	color: #ffffff;
}

#main-nav ul {
	padding: 0;
	margin: 0;
}

#main-nav ul li {
	margin: 0;
	text-align:right;
	padding: 0;
	font-size:13px;
	font-weight:normal;
}

#main-nav ul li a {
	padding: 8px 15px;
	display: block;
	color: #333;
	font-size: 80%;
	line-height: 1.2em;
	text-decoration: none;
}

#main-nav ul li a:hover,
#main-nav ul li a.current,
#main-nav ul li a.current:hover {
	color: #fff !important;
}

#main-nav ul li a.current {
	background: transparent url(../img/arrow.png) right center no-repeat  !important;
}

#main-nav ul li ul {
	background: #888 !important;
    border-radius: 4px 0 0 4px;
    padding: 2px 0 2px 2px !important;
}

#main-nav ul li ul:before {
    position: relative;
    top: -13px;
    right: 14px;
    display: inline-block;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #888;
    border-left: 5px solid transparent;
    border-bottom-color: #888;
    content: '';
}

.item-sub-sub {
	background: transparent !important;
	color: #333 !important;
}

.item-sub-sub:hover {
	background: transparent !important;
	color: #fff !important;
}

#main-nav ul li ul li a {
	color: #555 !important;
	padding-right: 40px !important;
}

#main-nav ul li ul li a.current {
	background: #ccc !important;
    color: #333 !important;
	border-radius: 4px 0 0 4px;
}

#main-nav ul li ul li a:hover {
	color: #fff !important;
}


/********** Header Title **********/

.header-title {
	height: 60px;
	width: 96%;
	margin: 0 2%;
	padding: 0;
}

.header-title h1 {
	color: #000000;
	font-size: 240%;
	line-height: 90px;
	font-weight: normal;
}


/********** Footer **********/

#footer {
	height: 40px;
	width: 96%;
	margin: 0 2%;
	padding: 10px 0 0 0;
	text-align: center;
	border-top: 1px solid #8f8f8f;
}

#footer p {
	color: #000000;
	font-size: 100%;
	font-family: 'HelvNeue75', Arial, Helvetica, sans-serif;
}

#footer p a {
	color: #ff6600;
	font-size: 100%;
	font-weight: normal;
}

#footer p a:hover {
	color: #000000;
	text-decoration: underline;
}


/********** Pages **********/

#pages {
	min-height: 465px;
	width: 96%;
	margin: 2%;
	padding: 1%;
	background: #ffffff;
}


