TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma
}
BODY {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma
}
A {
	FONT-WEIGHT: bold; COLOR: #006699; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
