<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
           
   
   <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />
     <!--
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" /-->
    
    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${database.driver}" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.user}" />
		<property name="password" value="${database.password}" />
	</bean>
        
        <bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
                            <!-- Legacy Models com.mobinil.mcss.legacy_models -->
                            <value>com.mobinil.mcss.legacy_models.GenDcm</value>
                            <value>com.mobinil.mcss.legacy_models.DcmRegion</value>
                            <!-- End of Legacy Models -->
                            
				<value>com.mobinil.mcss.dp.factorname.model.Name</value>
				<value>com.mobinil.mcss.dp.factorname.model.FactorType</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.DPKey</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.DPStatus</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.DrivingPlan</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.GenChannel</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.GenDcmLevel</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.GenDcmPaymentLevel</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.Month</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.PaymentType</value>
                                <value>com.mobinil.mcss.dp.factor.model.Factor</value>
                                <value>com.mobinil.mcss.dp.factor.model.FactorValue</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.CommissionCategory</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.DrivingPlanHistory</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.GenUser</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.GenPerson</value>
                                <value>com.mobinil.mcss.dp.dpManagement.model.DistFactorsValues</value>
                                <value>com.mobinil.mcss.dl.model.DCMList</value>
                                <value>com.mobinil.mcss.dl.model.DcmListType</value>
                                <value>com.mobinil.mcss.dl.model.DataView</value>
                                <value>com.mobinil.mcss.dl.model.DCMListStatus</value>
                                <value>com.mobinil.mcss.dl.model.DCMListDetail</value>
                                <value>com.mobinil.mcss.dl.model.DCMListHistory</value>
                                <value>com.mobinil.mcss.xyzpos.model.POS</value>
                                <value>com.mobinil.mcss.zone.model.Zone</value>
                                <value>com.mobinil.mcss.zone.model.ZoneGovernorate</value>
                                <value>com.mobinil.mcss.dist.model.Cell</value>
                                <value>com.mobinil.mcss.dist.model.DistrictCell</value>
                                <value>com.mobinil.mcss.zone.model.DcmRegionModel</value>
                                <value>com.mobinil.mcss.xyzpos.model.DeletePOS</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>				
			</props>
		</property>
	</bean>

	<bean id="hibernateTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
